body{
  font-size: 16px;
  font-family: 'Kumbh Sans';
  width: 100%;
}

/*colors*/
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

/*header*/

header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--Grayish-blue);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 28rem;
  position: relative;
  right: 5rem;
}

li a {
  text-decoration: none;
  color: var(--Grayish-blue);
}

li a:hover {
  color: var(--Dark-grayish-blue)
}

#avatar {
  height: 3rem;
  width: 3rem;
  border: 2px solid transparent;
  border-radius: 50%;
}

#avatar:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
  cursor: pointer;
}

#cart {
  position: relative;
  left: 5em;
  opacity: 0.6;
}

#cart:hover {
  cursor: pointer;
  opacity: 1;
}

.links {
  padding-bottom: 4rem;
  text-align: center;
}
.links:hover {
  border-bottom: 3px solid var(--orange);
}

/*main*/

main {
  width: 70%;
  margin: auto;
  display: flex;
  padding-bottom: 4rem;
}

#gallery {
  width: 50%;
}

#information {
  width: 50%;
  padding-top: 2rem;
  text-align: left;
  padding-right: 2rem;
  padding-left: 4rem;
}

#subGallery {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#bigImage {
  width: 90%;
  height: 26rem;
  margin-bottom: 1.2rem;
  border-radius: 1rem;
}

.smallImage {
  width: 22%;
  height: 6rem;
  border-radius: .6rem;
}

/*fonts main*/

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-weight: 700;
}

h3 {
  color: var(--orange);
  font-weight: 700;
}

#discount{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
#percentage {
  background-color: var(--pale-orange);
  color: var(--orange);
  padding: .3rem;
  border-radius: .2rem;
}

#originalPrice {
  color: var(--Grayish-blue);
  text-decoration: line-through;
  position: relative;
  bottom: 2rem;
}

/*form*/

form {
  display: flex;
  width: 90%;
  justify-content: space-between;
  height: 3rem;
  position: relative;
  bottom: 2rem;
}

#quantity {
  display: flex;
}

#plus {
  border: none;
  color: orange;
  width: 3.5rem;
  border-top-right-radius: .6rem;
  border-bottom-right-radius: .6rem;
  font-weight: 700;
  font-size: 1.2rem;
}

#plus:hover {
  cursor: pointer;
}

#value {
  border: none;
  font-weight: 700;
  font-size: 1rem;
}

#minus {
  border: none;
  color: orange;
  width: 3.5rem;
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  font-weight: 700;
  font-size: 1.2rem;
}

#minus:hover {
  cursor: pointer;
}

#add {
  background-color: var(--orange);
  color: var(--White);
  border: none;
  width: 60%;
  font-weight: 700;
  border-radius: .6rem;
  background-image: url(images/icon-cart.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 4rem;
}

#add:hover {
  background-color: var(--orange);
  opacity: 0.8;
}

footer {
  display: flex;
  justify-content: right;
  position: relative;
  right: 2rem;
  bottom: 1rem;
  color: var(--Grayish-blue);
}

footer p a{
  color: var(--Dark-grayish-blue);
  text-decoration: none;
}

footer p a:hover {
  color: var(--orange);
}
